---
// import { xTwitter } from "@lib/data/socials";

type Props = {
  title: string;
  description: string;
  canonicalPathname: string;
  site?: string;
  noindex?: boolean;
  nofollow?: boolean;
};

const {
  title,
  description,
  canonicalPathname,
  site = Astro.site?.origin,
  noindex = false,
  nofollow = false,
  ...props
} = Astro.props;

const makeProductionUrl = (pathname: string) => `${pathname}`;

const cleanTitle = title.trim();
const cleanDescription = description.replace(/\s+/g, " ").trim();
const canonicalURL = makeProductionUrl(canonicalPathname);

const keywords =
  "desarrollo de software, programación web, ingeniero informático, Php, Laravel, Node.js, React, Full Stack, aplicaciones web, SEO, programador web, JavaScript, tecnologías web";
const imageAltText =
  "Imagen destacada para la página de desarrollo de software y programación web en español";
const ogImage = makeProductionUrl(canonicalPathname + "/og-image-es.png"); 
---

<!-- Meta Tags esenciales -->
<title>{cleanTitle}</title>
<meta name="description" content={cleanDescription} />
<meta name="keywords" content={keywords} />
<link rel="canonical" href={canonicalURL} />

<!-- Noindex y Nofollow Condicional -->
{noindex && <meta name="robots" content="noindex" />}
{nofollow && <meta name="robots" content="nofollow" />}

<!-- Open Graph para Redes Sociales -->
<meta property="og:title" content={cleanTitle} />
<meta property="og:description" content={cleanDescription} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:image" content={ogImage} />
<meta property="og:type" content="website" />
<meta property="og:locale" content="es_ES" />
<meta property="og:image:alt" content={imageAltText} />

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={cleanTitle} />
<meta name="twitter:description" content={cleanDescription} />
<meta name="twitter:image" content={ogImage} />
<meta name="twitter:image:alt" content={imageAltText} />

<!-- Favicon y precarga de recursos críticos -->
<link rel="icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png" />
<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="/android-icon-192x192.png"
/>
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

<!-- Meta para la accesibilidad y rendimiento -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
